/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #9f9696;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.app-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.app-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.youtube-player {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}